deb http://{{ NEXUS_ADDRESS }}:8081/repository/DebianBullseye bullseye main
deb-src http://{{ NEXUS_ADDRESS }}:8081/repository/DebianBullseye bullseye main

deb http://{{ NEXUS_ADDRESS }}:8081/repository/DebianBullseye-security bullseye-security main
deb-src http://{{ NEXUS_ADDRESS }}:8081/repository/DebianBullseye-security bullseye-security main

deb http://{{ NEXUS_ADDRESS }}:8081/repository/DebianBullseye-updates bullseye-updates main
deb-src http://{{ NEXUS_ADDRESS }}:8081/repository/DebianBullseye-updates bullseye-updates main
