{
	"auths": {
		"{{ NEXUS_ADDRESS}}:8083": {
			"auth": "ZGV2b3BzOnJuM3FFS2w="
		},
		"{{ NEXUS_ADDRESS}}:8084": {
			"auth": "ZGV2b3BzOnJuM3FFS2w="
		},
		"{{ NEXUS_ADDRESS}}:8085": {
			"auth": "ZGV2b3BzOnJuM3FFS2w="
		}
	}
}
